@if (wsService.status() !== 'error') {
  @if (appStatusStore.isLoadedInitData() && userStore.user()) {
    <div
      class="w-full shrink-0 min-w-65 md:max-w-[320px] md:basis-3/10 md:block"
      [class.hidden]="!!currentDialogId()"
    >
      <app-sidebar />
    </div>
    <div class="flex-auto md:block" [class.hidden]="!currentDialogId()">
      <router-outlet />
    </div>
  }
} @else {
  <div class="h-full flex-auto flex justify-center items-center text-center">
    Ошибка подключения к серверу, дождитесь переподключения или перезагрузите приложение
  </div>
}
