@if (userStore.user(); as user) {
  <div class="flex items-center">
    <div class="relative flex mr-3">
      <app-avatar [params]="user" size="xlarge" />
      <p-badge
        severity="success"
        class="absolute bottom-0.5 right-0 border-white border rounded-2xl"
        style="width: 0.65rem; height: 0.65rem"
      />
    </div>
    <div class="flex-auto flex flex-col">
      <div class="title">{{ user.firstName }} {{ user.lastName }}</div>
      <div class="subtitle">{{ user.username }}</div>
    </div>
    <div class="flex items-center">
      @if (invitesStore.incomingInvitesCount() > 0) {
        <div class="mr-2 no-read-count">
          {{ invitesStore.incomingInvitesCount() }}
        </div>
      }
      <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body" />
      <p-button (click)="menu.toggle($event)" [rounded]="true" [text]="true" size="small">
        <app-icon size="l">keyboard_arrow_right</app-icon>
      </p-button>
    </div>
  </div>
}
