<div class="*:not-last:mb-4">
  @if (invitesStore.entities().length > 0) {
    <div>
      <div class="title mb-2">Приглашения в список контактов</div>
      <div class="-mx-5">
        @for (invite of invitesStore.entities(); track invite.id) {
          <app-invite-card
            [inviteEntity]="invite"
            (approve)="openApproveInviteDialog($event)"
            (decline)="openDeclineInviteDialog($event)"
            data-testid="invite-card"
          />
        }
      </div>
    </div>
  }
  <div>
    <div class="title mb-2">Контакты</div>
    @if (contactsStore.entities().length > 0) {
      <div class="-mx-5">
        @for (contact of contactsStore.entities(); track contact.id) {
          <app-contact-card
            [contactEntity]="contact"
            (delete)="openDeleteContactDialog($event)"
            data-testid="contact-card"
          />
        }
      </div>
    } @else {
      <div class="subtitle">Пока вы не добавили ни одного контакта</div>
    }
  </div>
  <form (submit)="sendInvite(formDirective)" [formGroup]="sendInviteForm" #formDirective="ngForm">
    <div class="mb-4">
      <app-float-label-input
        label="Код приглашения"
        fieldId="inviteCode"
        formControlName="inviteCode"
      />
    </div>
    <div>
      <p-button
        type="submit"
        label="Отправить"
        styleClass="w-full"
        size="small"
        [disabled]="!sendInviteForm.valid"
      />
    </div>
  </form>
</div>
