<app-auth-layout>
  <form [formGroup]="registerForm" (submit)="register()">
    <p-card class="base-p-card">
      <ng-template #title>
        <div class="title text-center mb-2">Регистрация</div>
      </ng-template>
      <div class="flex flex-col *:mb-4">
        <div>
          <app-float-label-input label="Логин" fieldId="username" formControlName="username" />
        </div>
        <div>
          <app-float-label-input
            label="Пароль"
            inputType="password"
            fieldId="password"
            formControlName="password"
          />
        </div>
        <div>
          <app-float-label-input
            label="Повторите пароль"
            inputType="password"
            fieldId="repeatPassword"
            formControlName="repeatPassword"
          />
        </div>
        <div>
          <app-float-label-input label="Имя" fieldId="firstName" formControlName="firstName" />
        </div>
        <div>
          <app-float-label-input label="Фамилия" fieldId="lastName" formControlName="lastName" />
        </div>
      </div>
      <ng-template #footer>
        <p-button
          type="submit"
          label="Зарегистрироваться"
          styleClass="w-full"
          size="small"
          [disabled]="!registerForm.valid"
        />
      </ng-template>
    </p-card>
  </form>
</app-auth-layout>
