@if (contact(); as contact) {
  <div [class.bg-surface-300]="isActivatedRouteContact()">
    <div class="flex px-2 py-3">
      <div class="mr-2 relative">
        <app-avatar [params]="contact.user" size="large" />
        @if (contact.online) {
          <p-badge
            severity="success"
            class="absolute bottom-0.5 right-0.5 border-white border rounded-2xl"
            style="width: 0.4rem; height: 0.5rem"
          />
        }
      </div>
      <div class="flex-auto flex flex-col min-w-0">
        <div class="title">{{ contact.user.firstName }} {{ contact.user.lastName }}</div>
        <div class="subtitle overflow-hidden whitespace-nowrap text-ellipsis wrap-anywhere">
          @if (contact.isTyping && !isActivatedRouteContact()) {
            Печатает...
          } @else {
            {{ contact.lastMessage?.text || 'Сообщений нет' }}
          }
        </div>
      </div>
      @if (contact.lastMessage; as lastMessage) {
        <div class="flex flex-col *:flex-auto">
          <div class="subtitle font-bold flex justify-end">{{ lastMessage.date | dateToStr }}</div>
          <div class="flex justify-end items-center">
            <div class="flex items-center">
              @if (lastMessage.isRead) {
                <app-icon>done_all</app-icon>
              } @else {
                <app-icon>done</app-icon>
              }

              @if (contact.noReadCount; as noReadCount) {
                <div class="no-read-count ml-2">{{ noReadCount }}</div>
              }
            </div>
          </div>
        </div>
      }
    </div>
  </div>
}
