@if (contact(); as contact) {
  <div [class.bg-surface-300]="isActivatedRouteContact()">
    <div class="flex px-2 py-3">
      <div class="mr-2 relative">
        <app-avatar [params]="contact.user" size="large" />
        @if (contact.online) {
          <p-badge
            severity="success"
            class="absolute bottom-0.5 right-0.5 border-white border rounded-2xl"
            style="width: 0.4rem; height: 0.5rem"
          />
        }
      </div>
      <div class="flex-auto flex flex-col min-w-0">
        <div class="flex justify-between">
          <div class="title mr-2">{{ contact.user.firstName }} {{ contact.user.lastName }}</div>
          @if (contact.lastMessage; as lastMessage) {
            <div class="subtitle font-bold flex justify-end relative top-0.5">
              {{ lastMessage.date | dateToStr }}
            </div>
          }
        </div>
        <div class="flex justify-between items-center">
          <div class="subtitle overflow-hidden whitespace-nowrap text-ellipsis wrap-anywhere mr-2">
            @if (contact.isTyping && !isActivatedRouteContact()) {
              Печатает...
            } @else {
              {{ contact.lastMessage?.text || 'Сообщений нет' }}
            }
          </div>
          @if (contact.lastMessage) {
            <div class="flex items-center">
              @if (contact.lastMessage.isRead) {
                <app-icon>done_all</app-icon>
              } @else {
                <app-icon>done</app-icon>
              }

              @if (contact.noReadCount; as noReadCount) {
                <div class="no-read-count ml-2">{{ noReadCount }}</div>
              }
            </div>
          }
        </div>
      </div>
    </div>
  </div>
}
